API_ID=8968182866:AAHWKoJdWVkXw8RaxOfN9a5YxLWFjnf0q7I
API_HASH=VOIDWING BOT
BOT_TOKEN=VOIDWING BOT
SUDO_USERS=VOIDWING BOT
REPLY_MESSAGE=VOIDWING BOT
SESSION_STRING=VOIDWING BOT
SUPPORT_GROUP=VOIDWING BOT
UPDATES_CHANNEL=VOIDWING BOT
ASSISTANT_NAME=VOIDWING BOT
